@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@-ms-viewport{
  width: device-width;
}

body {
	background-color: #E4E3E3;
}

.full-container {   
    max-width: 1200px;
	margin: 0 auto;
	background-image: none;
	background-color: white;
	box-shadow: 1px 1px 5px 4px #D8D8D8, 1px 1px 2px 3px #A8A8A8 ;
}



nav{
    background-color: #3FFA89;	
	background-image: none;
			}

.nav-item{
    text-align: center;			
		} 
		
.nav-link {
    font-size: 20px;
	color: black!important;
	border-radius: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";		
		}
		
.nav-link:hover {
	background-color: #0FC467;
	color: white!important;
		}

.navbar-toggler{
	color: black;			
		}
		
#mynavitems{
	background-image: none;
}

#circle{
  border:1px solid black; 
  border-radius: 8px!important;
}

		
		
/*header -------------------------> */
		
@font-face {
	font-family: Equestria;
	src:url(Equestria.ttf);
    font-family: OCR;
	src: url("../OCRAEXT.TTF");
	font-family: gill-sans-ultra;
	src:url(GillSansUltraBold.ttf);
}
		
.content{
			margin-top: 200px;
			width: 100%;
			background-image: none;
		}
		


		
.jumbotron {
			background: linear-gradient(to right, #00ffff 5%,#3FFA89 25%, #3FFA89 75%, #00ffff 95% );
			margin-top: 70px;
			text-align: center;
			
		}

.display-1{
	color: white!important;
	font-family: 'Equestria', 'Black Han Sans', sans-serif;
	}

#welcome-text{        
	color: #D09BEB;
	text-align: center;			
	background-image: none;		
	}


/* sisuleht */


.columnbox {
    max-width: 100%;        
}
.columnbox a:hover{
    text-decoration: none;
}


.imgdiv {    
    width: 320px;
    text-align: center;
    margin: 40px auto;
    border: 4px solid;
    border-image-source: linear-gradient(90deg, #45FCBA, #FC45EE, #FCFC45, #1233FF,#45FCBA, #FC45EE, #FCFC45, #1233FF);
    border-image-slice: 1;
    box-shadow: 2px 2px 5px 4px #EDC3FF;
}
.pics {    
    max-height: 100%;  
    margin: 11px;
}

.blackbox{       
    margin: 10px auto 20px;
    color: white;    
    text-decoration: none; 
    height: 50px;
    width: 90%;
    font-family: ocr;
    background-color: black;
}

strong{
    font-size: 36px;     
    
}

.logoholder{
    background-color:#E3F1E7;
    text-align: right;
    margin-top: 80px;     
}

.logo{
    width: 210px; 
    margin: 30px;
}

.copyright {
    margin: 50px 40px;
    color: #C3C3C3;
    font-family: Acme;
}
.media{
	font-size: 30px;
}
a.icon-block {
        display:inline-block;               
        text-align:center;
		color: #5A5A5A;
		margin-bottom: 40px;
		margin-left: 45px;
    }
 

/*page 2 additions */

.waterfall{
	font-family: jubilat, serif;
	font-weight: 900;
	font-style: normal;
	margin: 80px 100px;
}

.materials{
	
font-family: swister, sans-serif;
font-weight: 600;
font-size: 1.5em;
font-style: normal;
color: #7573EF;
margin: 0 120px;
}


.tutorialS{
	height: 715px;
	max-width: 640px;
	margin: 50px auto;
	border: 6px solid;
    border-image-source: linear-gradient(90deg, #45FCBA, #FC45EE, #FCFC45, #1233FF,#45FCBA, #FC45EE, #FCFC45, #1233FF);
    border-image-slice: 1;
    box-shadow: 2px 2px 5px 4px #EDC3FF;	
}

.image-card{
	width: 300px;
	height: auto;
	margin:auto;
}

.tutintro{
	max-width: 800px;
	margin: 80px auto;
}

.card-dimensions{
	height: 700px;
}

.myimage{
	height: 450px;
	width: 100%;
	object-fit:contain;
	box-shadow: 0px 1px 3px #F0F0F0;
}

/*testing the waters with the multicard slider */
@media (min-width: 768px) {
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item
  /*.carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item*/ {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item /*+ .carousel-item + /*.carousel-item*/ {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, 
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item, 
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}